// ---------------------------------------------------------------------
//  SCSS Settings
// ---------------------------------------------------------------------

// ----------------------------------------
// Fonts
// ----------------------------------------

// 300 | 400 | 500 | 600 | 700
$sans-serif: "aktifo", sans-serif;

// 300 | 400 | 500 | 700
$mono: "fira", mono, sans-serif;

// ----------------------------------------
// Font Size/ Line Height
// ----------------------------------------
$main-font: $sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

// ----------------------------------------
// Colors
// ----------------------------------------

$white: #fff;
$black: #141618;
$gray-dark: #121216;
$border: rgba(#42526d, 0.5);

$mkt-gray: #b5bfd2;
$mkt-gray-dark: #09111d;
